In [1]:
import pandas as pd

In [2]:
demo_list = ["Tom","Jerry","John"]

In [14]:
series1 = pd.Series(demo_list)

In [15]:
series1

0      Tom
1    Jerry
2     John
dtype: object

In [17]:
demo_list2=[21,22,23]

In [18]:
series2 = pd.Series(demo_list2)

In [20]:
series2

0    21
1    22
2    23
dtype: int64

In [21]:
dictionary={'name':series1,'age':series2}

In [22]:
df = pd.DataFrame(dictionary)

In [23]:
df

    name  age
0    Tom   21
1  Jerry   22
2   John   23