In [4]:
Emp={'first_name':['John','Jerry','Albert'],
         'last_name': ['Doe','Perry','Smith'],
         'email': ['john@gmail.com','jerry@gmail.com','joe@gmail.com'],
        'Salary' : [10000,20000,60000]
        }

In [5]:
import pandas as pd
df=pd.DataFrame(Emp)

In [6]:
df

  first_name last_name            email  Salary
0       John       Doe   john@gmail.com   10000
1      Jerry     Perry  jerry@gmail.com   20000
2     Albert     Smith    joe@gmail.com   60000

In [7]:
filt2=df['Salary']<50000

In [8]:
df.loc[filt2]

  first_name last_name            email  Salary
0       John       Doe   john@gmail.com   10000
1      Jerry     Perry  jerry@gmail.com   20000