In [46]:
people={'first_name':['John','Jerry','Albert'],
         'last_name': ['Doe','Perry','Smith'],
         'email': ['john@gmail.com','jerry@gmail.com','joe@gmail.com']
        }

In [47]:
import pandas as pd
df = pd.DataFrame(people)

In [48]:
df

  first_name last_name            email
0       John       Doe   john@gmail.com
1      Jerry     Perry  jerry@gmail.com
2     Albert     Smith    joe@gmail.com

In [49]:
filt=df['last_name']=='Smith'

0    False
1    False
2     True
Name: last_name, dtype: bool

In [52]:
df[filt]

  first_name last_name          email
2     Albert     Smith  joe@gmail.com

In [54]:
df.loc[filt,'email']

2    joe@gmail.com
Name: email, dtype: object

In [55]:
filt1=(df['first_name']=='John') & (df['last_name']=='Doe')

In [57]:
df.loc[filt1,'email']

0    john@gmail.com
Name: email, dtype: object

In [58]:
df.loc[~filt1]

  first_name last_name            email
1      Jerry     Perry  jerry@gmail.com
2     Albert     Smith    joe@gmail.com